:root {
  --header-nav-color: #2e2f42;
  --header-address-color: #434455;
  --main-title-color: #2e2f42;
  --secondary-title-color: #434455;
  --accent-color: #4d5ae5;
  --link-hover-color: #404bbf;
  --hero-footer-backgroud-color: #2e2f42;
  --hero-title-color: #ffffff;
  --team-background-color: #f4f4fd;
  --footer-desc-color: #e7e9fc;
  --logo-web-color: #4d5ae5;
  --logo-footer-studio-color: #f4f4fd;
  --logo-header-studio-color: #2e2f42;
  --main-padding: 120px 0;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ---------------- base styles --------------- */
body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--hero-title-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  top: -150%;
  z-index: -100;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  user-select: none;
  pointer-events: none;
  cursor: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: none;
  outline: none;
  white-space: nowrap;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  min-width: 320px;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* ---------------- header styles--------------- */
.header-container {
  display: flex;
  align-items: center;
}
.header {
  border-bottom: 1px solid var(--footer-desc-color);
}
.header-nav {
  display: flex;
  margin-right: auto;
  align-items: center;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-header-studio-color);
  text-decoration: none;
  margin-right: 76px;
  padding: 24px 0;
}
.header-logo-span {
  color: var(--logo-web-color);
}
.header-list {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
}
.header-list-item {
  font-weight: 500;
}
/* normal state */
.header-list-link {
  text-decoration: none;
  color: var(--header-nav-color);
  padding: 24px 0;
  display: block;
  position: relative;

  transition: color var(--transition);
}
/* active state */
.header-list-link:hover,
.header-list-link:focus {
  color: var(--link-hover-color);
}
.active {
  color: var(--link-hover-color);
}

.header-list-link.active::after {
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  position: absolute;
  bottom: -1px;

  background: #404bbf;
  border-radius: 2px;
}
.header-address {
  font-style: normal;
}
@media screen and (max-width: 767px) {
  .header-address {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header-address-list {
    display: flex;
    gap: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-address-item:first-child {
    margin-bottom: 12px;
  }
}

.header-address-link {
  text-decoration: none;
  color: var(--header-address-color);
  display: block;

  transition: color var(--transition);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-address-link {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .header-address-link {
    padding: 24px 0;
  }
}

.header-address-link:hover,
.header-address-linl:focus {
  color: var(--link-hover-color);
}
/* ------------- portfolio page main styles--------------- */
.portfolio-link-container {
  padding: 32px 16px;
  border-bottom: 1px solid var(--footer-desc-color);
  border-left: 1px solid var(--footer-desc-color);
  border-right: 1px solid var(--footer-desc-color);
}
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.portfolio-list-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background-color: var(--footer-desc-color);
  cursor: pointer;
  background: var(--team-background-color);
  border-radius: 4px;
  border: solid 1px;
  border-color: var(--footer-desc-color);
  padding: 12px 24px;
  transition: background-color var(--transition), color var(--transition);
}
.portfolio-list-btn:hover,
.portfolio-list-btn:focus {
  background-color: var(--link-hover-color);
  color: var(--hero-title-color);
}

.portfolio-link {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-link-item {
  background: var(--hero-title-color);
  width: 360px;
}
.portfolio-card {
  text-decoration: none;
  display: block;
  transition: box-shadow var(--transition);
}
.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-cards-img {
  display: block;
  max-width: 100%;
  height: auto;
}
.portfolio-overlay {
  width: 100%;
  height: 100%;
  background: var(--accent-color);
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 1s;
}

.portfolio-card:hover .portfolio-overlay,
.portfolio-card:focus .portfolio-overlay {
  transform: translate(0);
}

.portfolio-overlay-text {
  color: var(--logo-footer-studio-color);
}

.portfolio-link-container {
  padding: 32px 16px;
  border-bottom: 1px solid var(--footer-desc-color);
  border-left: 1px solid var(--footer-desc-color);
  border-right: 1px solid var(--footer-desc-color);
}
.portfolio-cards-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin-bottom: 8px;
}
.portfolio-cards-desc {
  color: var(--secondary-title-color);
}

/* --------main page hero section styles----------------------- */
.hero {
  padding: 112px 0;
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--hero-footer-backgroud-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/bg_mob@1x.jpg);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/bg_mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/bg_tab@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/bg_tab@2x.jpg);
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/bg_desk@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/bg_desk@2x.jpg);
    }
  }
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--hero-title-color);
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    max-width: 496px;
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: var(--hero-title-color);
  cursor: pointer;
  background-color: var(--logo-web-color);
  display: block;
  padding: 16px 32px;

  border: none;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--transition);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--link-hover-color);
}

/* ---------main page philosophy section styles------------------ */
.philosophy {
  padding: 96px 0;
}
@media screen and (min-width: 1200px) {
  .philosophy {
    padding: var(--main-padding);
  }
}

.philosophy-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 24px;
}

@media screen and (min-width: 768px) {
  .philosophy-list-item {
    width: 356px;
  }
}
@media screen and (min-width: 1200px) {
  .philosophy-list-item {
    width: 264px;
  }
}

.icon {
  transition: fill var(--transition);
}
.icon:hover {
  fill: #404bbf;
}

.philosophy-list-rect {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px;
  background-color: var(--logo-footer-studio-color);
  border-radius: 4px;
}
@media screen and (max-width: 1199px) {
  .philosophy-list-rect {
    display: none;
  }
}

.philosophy-item-title {
  /* font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin-bottom: 8px; */
  font-family: "Roboto", sans-serif;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: #2e2f42;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .philosophy-item-title {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .philosophy-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    margin-bottom: 8px;
  }
}

.philosophy-item-desc {
  color: var(--secondary-title-color);
  font-weight: 500;
}

@media screen and (min-width: 1200px) {
  .philosophy-item-desc {
    font-weight: 400;
  }
}
/* ------------main page what section styles--------------------------- */
.what {
  padding-bottom: 120px;
  text-align: center;
  display: none;
}
@media screen and (min-width: 1200px) {
  .what {
    display: block;
  }
}

.what-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);

  margin-bottom: 72px;
}
.what-list {
  display: flex;
  gap: 24px;
}
/* ------------main page team section styles---------------------------- */
.team {
  background-color: var(--logo-footer-studio-color);
  padding: 96px 0;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .team {
    padding: var(--main-padding);
  }
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  column-gap: 24px;
  row-gap: 72px;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .team-list {
    row-gap: 64px;
  }
}

.team-list-item {
  text-align: center;
  background: var(--hero-title-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-container {
  padding: 32px 0;
}
.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin-bottom: 8px;
}
.team-item-desc {
  color: var(--secondary-title-color);
  margin-bottom: 8px;
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--accent-color);
  transition: background-color var(--transition);
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--link-hover-color);
}

.socials-title {
  font-weight: 500;
  color: var(--hero-title-color);
  margin-bottom: 16px;
}

/* -----------------customers section-------------------- */
.customers {
  padding: 96px 0;
}

@media screen and (min-width: 1200px) {
  .customers {
    padding: var(--main-padding);
  }
}

.customers-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 0.9;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .customers-list {
    column-gap: 24px;
  }
}

.customers-list-link {
  fill: #8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 88px;
  transition: fill var(--transition), border-color var(--transition);
}
@media screen and (min-width: 768px) {
  .customers-list-link {
    width: 168px;
  }
}

.customers-list-link:hover,
.customers-list-link:focus {
  fill: var(--link-hover-color);
  border-color: var(--link-hover-color);
}
/* -------------  footer styles------------- */
.footer {
  background-color: var(--hero-footer-backgroud-color);
  padding: 96px 0;
}
@media screen and (min-width: 1200px) {
  .footer {
    padding: 100px 0;
  }
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-footer-studio-color);
  text-decoration: none;
  display: block;
  margin-bottom: 16px;
}
.footer-logo-span {
  color: var(--logo-web-color);
}
.footer-desc {
  color: var(--footer-desc-color);
  width: 264px;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}
@media screen and (max-width: 767px) {
  .footer-container {
    justify-content: center;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    padding: 0 108px;
  }
}

@media screen and (min-width: 768px) {
  .footer-social {
    margin-left: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social {
    margin-left: 120px;
  }
}

.footer-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.footer-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition);
}
.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: #31d0aa;
}
.footer-form-wrap {
  width: 100%;
  max-width: 453px;
}
@media screen and (min-width: 1200px) {
  .footer-form-wrap {
    margin-left: auto;
  }
}
.footer-subscribe {
  font-weight: 500;
  color: var(--hero-title-color);
  display: block;
  margin-bottom: 16px;
}
.footer-subscribe-email {
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 100%;

  height: 40px;
  padding-left: 16px;
  background-color: transparent;
  color: var(--hero-title-color);
}
@media screen and (min-width: 768px) {
  .footer-subscribe-email {
    max-width: 264px;
  }
}
.footer-subscribe-email::placeholder {
  font-size: 12px;
  line-height: 2;
  color: #ffffff;

  letter-spacing: 0.04em;
}
.footer-btn {
  width: 165px;
  height: 40px;
  background: #4d5ae5;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-weight: 500;

  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .footer-btn {
    margin-top: 0;
    margin-left: 18px;
  }
}

/* Modal window */
/* visible  */

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition: opacity var(--transition), visibility var(--transition);
}
/*  hidden  */
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  max-width: 392px;
  width: 100%;
  min-height: 576px;
  padding: 24px 16px;

  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 500ms cubic-bezier(0, 1.04, 0.38, 1.42) 300ms,
    opacity 500ms cubic-bezier(0, 1.04, 0.38, 1.42) 300ms;
}
@media screen and (min-width: 768px) {
  .modal {
    max-width: 408px;
    padding: 24px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.3);
  opacity: 0;
}
.modal-button {
  width: 24px;
  height: 24px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: auto;
  transition: background-color var(--transition), fill var(--transition);
  /* transition-property: background-color, fill;
  transition-duration: 250ms, 500ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1), ease-in-out; */
}
.modal-button:hover,
.modal-button:focus {
  background: var(--link-hover-color);
  fill: var(--hero-title-color);
}

.modal-title {
  font-weight: 500;
  margin-top: 24px;
  text-align: center;
  margin-bottom: 16px;
}
.modal-contact {
  margin-bottom: 8px;
}
.modal-contact-group {
  display: block;
  position: relative;
}
.modal-contact-group:not(:last-child) {
  margin-bottom: 8px;
}
.modal-contact-tag {
  display: block;

  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.04em;

  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-contact-field {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  outline: transparent;
  padding-left: 38px;
  padding-right: 38px;
  transition: border-color var(--transition);
}
.modal-contact-field:focus + .modal-icon {
  fill: #4d5ae5;
}
.modal-contact-field:focus {
  border-color: #4d5ae5;
}
.modal-icon {
  position: absolute;
  bottom: 8px;
  left: 16px;
  transition: fill var(--transition);
}
.modal-comments {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 8px;
  margin-bottom: 16px;
  resize: none;
  transition: border-color var(--transition);

  outline: transparent;
}
.modal-comments:focus {
  border-color: #4d5ae5;
}
.modal-comments::placeholder {
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.04em;

  color: rgba(46, 47, 66, 0.4);
}
.modal-terms {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}
.modal-checkbox {
  position: absolute;

  appearance: none;
}
.checked {
  opacity: 0;
  transition: 300ms;
}
.unchecked {
  opacity: 1;
  transition: 300ms;
}

.modal-checkbox:checked + .checkbox-icon .checked {
  opacity: 1;
}

.modal-checkbox:checked + .checkbox-icon .unchecked {
  opacity: 0;
}
.modal-accept {
  font-size: 12px;
  line-height: 1.33;

  letter-spacing: 0.04em;

  color: #757575;
}
.modal-link {
  color: #4d5ae5;
}
.modal-btn-submit {
  width: 169px;
  height: 56px;
  background: var(--accent-color);

  border-radius: 4px;
  outline: transparent;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;

  color: var(--hero-title-color);
  margin: 0 auto;
  border: none;
  cursor: pointer;
  display: block;
}

/* Mobile menu styles */
.menu-toggle {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;

  border-radius: 50%;
  outline: none;
}
.menu-toggle.js-close-menu {
  border: 1px solid #e7e9fc;
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 80px;
  padding-left: 40px;
  padding-right: 24px;
  padding-bottom: 40px;

  background-color: #ffffff;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  display: flex;
  flex-direction: column;
}
.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #ffffff;
}
.mobile-menu {
  margin-bottom: auto;
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
}
.mobile-menu-active {
  color: var(--link-hover-color);
}

.mobile-contact {
  margin-bottom: 48px;
}
.mobile-contact-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-contact-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #434455;
}
.mobile-contact-active {
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .mobile-contact-active {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
  }
}

.mobile-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 328px;
}
.mobile-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  transition: background-color var(--transition);
  background-color: var(--accent-color);
}
